td {
    padding: 10px;
    text-align: center;
    
    
}

td, tr {
    border: 1px solid;
    color:cadetblue;
    
}

table{
    background-color: lightgrey;

}

.boton{
    margin-top: 15px;
}

tr.header{
    font-size: 25px;
    font-family: 'Gill Sans';
    font-weight: bold;
}

li.difcolor{
    color: green;
}
